[submodule "docs-snippets"]
	path = docs-snippets
	url = https://github.com/kevinmatthes/docs-snippets
[submodule "blank"]
	path = blank
	url = https://github.com/kevinmatthes/blank
[submodule "doxygen.cfg"]
	path = doxygen.cfg
	url = https://github.com/kevinmatthes/doxygen.cfg
